# Database
DATABASE_URL="mysql://root:senha@roundhouse.proxy.rlwy.net:12345/railway"

# S3 Storage
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_BUCKET=""
S3_REGION="us-east-1"

# LLM API
LLM_API_KEY=""
LLM_BASE_URL=""

# Google Maps
GOOGLE_MAPS_API_KEY=""

# OAuth
OAUTH_CLIENT_ID=""
OAUTH_CLIENT_SECRET=""
OAUTH_BASE_URL=""

# Other
NODE_ENV="development"